ExpiresActive On
ExpiresDefault "access plus 1 day"
AddType application/manifest+json .webmanifest

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>
