html, body {
    overflow-x: hidden;
    overscroll-behavior-y: contain;
}

body {
    font-family: sans-serif;
}

header, button {
    background: #E60030;
    color: #FFFFFF;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.0rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    padding-left: 0.6rem;
}

header h1 {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    max-width: 400px;
    width: 100%;
}

#logospinner {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 1rem;
}

#last-updated-info {
    font-size: 0.75rem;
    margin: 0.1rem 0 0.3rem 0.1rem;
    height: 1rem;
}

main {
    margin: 4.8rem 0 0 0.1rem;
    max-width: 400px;
    width: 100%;
}

footer {
    margin-top: 0.25rem;
    margin-left: 0.1rem;
    max-width: 400px;
    width: 100%;
}
.footerMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footerMenu li {
    display: inline;
    margin-right: 1rem;
}
.technical {
    font-size: 75%;
    color: #555555;
    font-style: italic;
}

img.loader {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    filter: grayscale(100%);
    animation: spin 0.5s ease infinite;
}

.spinonce {
    animation: spin 0.5s ease;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

span.startTime {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
.startTimeDelayed {
    color: #990000;
}

.lineCode {
    display: inline-block;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 2px;
    box-shadow: 0 0 2px #222;
    vertical-align: middle;
    margin-right: 0.2rem;
}
.platformCode {
    display: inline-block;
    border-radius: 50%;
    min-width: 1.1rem;
    line-height: 1.1rem;
    padding: 0.1em;
    background-color: #FFCC00;
    font-size: 70%;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 2px #222;
    vertical-align: middle;
    margin-left: 0.2rem;
    margin-right: 0.6rem;
}

section.departure {
    margin-top: 1.6rem;
    min-height: 7.1rem;
}
.departureHeading {
    padding: 0;
    margin-bottom: 0;
}
.departureList {
    list-style-type: none;
    border-left: 1px solid #CCCCCC;
    padding-left: 0.7rem;
}
.departureList li {
    margin-bottom: 0.25rem;
}
.situationNumber {
    color: #666;
}
.situationList {
    list-style-type: none;
    padding-left: 0;
}
.situationList li {
    margin-bottom: 0.7rem;
}

.newDeparture {
    margin-top: 2rem;
}
#newDepartureButtons {
    margin-bottom: 1rem;
}
#newDepartureHeading {
    color: gray;
}

button {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
    display: inline-block;
}

/* DropdownMenu */
.Dropdown__container {
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}
.Dropdown__button {
    background-color: #CCCCCC;
    margin: 0;
    width: 32px;
    height: 32px;
    line-height: 12px;
}
.Dropdown__menu {
    background-color: #CCCCCC;
    position: absolute;
    margin: 0;
    padding: 4px;
    width: 80px;
    transform: translate(-58px);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.Dropdown__item {
    background-color: #999999;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 0.2rem 0;
}
.Dropdown__menuborder {
    border: solid 1px #999999;
}

/* Inputs */
input {
    font-size: 1rem;
    padding: 0.5rem;
    width: 300px;
    border: 1px solid gray;
    margin-bottom: 0.5rem;
}
input.invalid {
    border-color: #990000;
}
label {
    display: none;
}
#formErrorInfo {
    font-style: italic;
}

/* geocomplete.js */
div.suggestion-box {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #999999;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    translate: 0 -0.4rem;
}
ul.suggestion-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li.suggestion-item {
    padding: 8px 4px 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
}
li.suggestion-item:last-child {
    border-bottom: none;
}
li.suggestion-item.selected {
    background-color: #999;
    color: #FFF;
}
